In [2]:
import pandas as pd

In [5]:
pd.read_csv("data/pdf_data_to_convert/child_care/table2.txt")

,State,Infant,Toddler,4-Year-Old,Before/After School,Full-Time Summer
0,Alabama*,"$7,670","$7,527","$7,332","$5,090","$1,697"
1,Alaska,"$10,809","$9,265","$8,610","$5,559","$2,084"
2,Arizona,"$10,920","$10,400","$10,400","$5,850","$2,600"
3,Arkansas,"$7,963","$7,727","$7,745","$4,274","$1,804"
4,California*,"$19,022",NR,"$16,763","$10,293","$3,431"
5,Colorado,"$13,666","$13,666","$12,830","$8,068",NR
6,Connecticut,"$14,305",NaN,"$13,201","$5,928",NaN
7,Delaware,"$10,997","$10,358","$9,968","$4,294","$2,191"
8,District of Columbia,"$21,382","$21,022","$19,685",NR,NR
9,Florida*,"$11,201","$10,185","$8,592","$5,094","$2,547"
10,Georgia,"$8,407","$8,043","$7,802","$5,661","$1,887"
11,Hawaii,"$11,632","$11,148","$11,028","$10,694","$10,668"
12,Idaho,"$7,380","$7,308","$7,152","$5,328",NR
13,Illinois,"$12,283","$12,283","$10,439","$3,524","$2,403"
14,Indiana,"$9,508","$9,102","$8,470","$5,143","$1,934"
15,Iowa,"$8,596","$8,443","$8,285","$3,067","$1,934"
16,Kansas,"$7,639","$6,890","$7,750","$2,742",$914
17,Kentucky,"$9,880","$9,360","$9,360","$5,148","$2,340"
18,Louisiana*,NaN,NaN,NaN,NaN,NaN
19,Maine*,"$11,830","$11,206","$10,790","$6,728","$2,243"
20,Maryland,"$15,919","$15,676","$13,416","$8,505",NaN
21,Massachusetts,"$17,510","$17,511","$15,056","$7,583","$3,764"
22,Michigan,"$9,458","$9,959","$10,355","$5,448","$1,257"
23,Minnesota,"$9,821","$9,434","$8,978",NaN,NaN
24,Mississippi*,"$6,188","$5,980","$5,720","$3,588","$1,196"
25,Missouri,"$9,984","$8,996","$8,320","$3,432","$1,144"
26,Montana,"$11,700","$11,700","$10,400","$3,900","$2,600"
27,Nebraska,"$13,383","$13,383","$13,383",NR,"$10,038"
28,Nevada,"$9,703","$9,239","$8,982","$4,954",NR
29,New Hampshire,"$11,708","$11,432","$11,418","$3,827",NR
30,New Jersey*,"$12,502","$11,113","$11,113","$7,960","$2,246"
31,New York,"$16,415","$15,616","$15,616","$13,299",NaN
32,North Carolina,"$9,961","$9,591","$9,047","$5,693","$1,898"
33,North Dakota,"$10,141","$9,801","$9,473",NaN,NaN
34,Ohio,"$10,556","$10,192","$9,048","$5,967","$1,989"
35,Oklahoma,"$9,399","$9,122","$8,577","$7,990",NaN
36,Oregon,"$15,808","$13,832","$13,728",NR,NR
37,Pennsylvania*,"$10,994","$10,428","$9,685","$6,297","$2,099"
38,Rhode Island*,"$14,300",NaN,"$13,000","$8,775","$2,925"
39,South Carolina,"$8,126","$7,449","$7,223","$6,321",NR
40,South Dakota,"$6,822","$6,822","$6,635","$4,836",NR
41,Tennessee,"$9,415","$9,430","$8,689","$5,618","$6,789"
42,Texas*,"$10,010","$9,957","$9,582","$6,300","$2,100"
43,Utah,"$10,800","$8,700","$8,160","$5,760","$1,920"
44,Vermont,"$12,395","$11,952","$11,818","$5,595","$2,804"
45,Virginia,"$13,052","$12,480","$12,116","$4,095","$3,081"
46,Washington,"$18,000","$16,200","$14,556","$5,460",NR
47,West Virginia*,"$8,565","$7,762","$7,762",NR,NR
48,Wisconsin,"$12,319","$14,743","$11,088","$6,568",NR
49,Wyoming*,"$10,704","$10,278","$9,747","$6,080","$2,258"

In [ ]:
pd.read_excel("")