In [10]:
import pandas as pd
import csv

In [11]:
## EXPLORATORY/TESTING BLOCK ##

# raw_edu = pd.read_excel("data/education/original/Tab1_FOD.xlsx") # This variable was created for viewing and analysis purposes to quickly view what needed to be altered from the original file. 
# raw_edu

This is an exploratory block for testing and will contain lines of code that are commented out.

In [ ]:
def get_column_names(df_header: pd.DataFrame, drop_first_row: bool = False) -> dict[str, str]:
    headers = df_header.head(3)
    if drop_first_row:
        headers = headers.drop(0)

    column_names = {}
    last_value = ''
    
    for column in headers:
        first_row_value = headers[column].iloc[0]
        if not pd.isna(first_row_value):
            last_value = str(first_row_value).strip()

        second_row_value = headers[column].iloc[1]
        if not pd.isna(second_row_value):
            second_row_value = str(second_row_value).strip()
            result = f"{last_value}_{second_row_value}"
            # result = f"{second_row_value}_{last_value}"
        else:
            result = last_value
        
        column_names[column] = result
    
    return column_names

def Get_column_names(path_to_excel: str, drop_first_row: bool = False) -> dict:
    headers = pd.read_excel(path_to_excel).head(3)

These two lines of the code block were altered to enable reading and writing to a new (DataFrame) file.

In [13]:
edu_fod_file_pairs = [
    ("Tab1_FOD.xlsx", "fod_demo_soc.xlsx"),
    ("Tab2_FOD.xlsx", "fod_earn_sex.xlsx"),
    ("Tab3_FOD.xlsx", "fod_earn_age.xlsx"),
    ("Tab4_FOD.xlsx", "fod_earn_race.xlsx"),
    ("Tab5_FOD.xlsx", "fod_earn_edu_att.xlsx"),
    ("Tab6_FOD.xlsx", "fod_metro.xlsx"),
    ("Tab7_FOD.xlsx", "fod_earn_metro.xlsx")
]

# This list of tuples was created to show the input (original) and output (new file) of the data files being renamed.

In [14]:
edu_fod_delete_first_row = {
    "Tab1_FOD.xlsx": True,
    "Tab2_FOD.xlsx": False,
    "Tab3_FOD.xlsx": False,
    "Tab4_FOD.xlsx": False,
    "Tab5_FOD.xlsx": False,
    "Tab6_FOD.xlsx": True,
    "Tab7_FOD.xlsx": True
}

# This dictionary specifies which tables need the first row dropped.

In [ ]:
def rename_all_sheets(all_sheets: dict, drop_first_row: bool = False) -> dict[str, pd.DataFrame]:
    renamed_sheets = {}
    for sheet_name, df in all_sheets.items():
        if drop_first_row:
            df = df.iloc[1:].reset_index(drop=True)
        
        names = get_column_names(df, drop_first_row=drop_first_row)
        renamed_sheets[sheet_name] = df.rename(columns=names)
    return renamed_sheets

delete_first_row = {
    1: True,
    2: False,
    3: False,
    4: False,
    5: False,
    6: True,
    7: True
}

for key, value in delete_first_row.items():
    filepath = f"data/education/original/Tab{key}_FOD.xlsx"
    raw = pd.read_excel(filepath)
    names = get_column_names(filepath, value)
    raw = raw.rename(columns=names)
    print(names.values())

This was the original dictionary and code block that read through the original files for analysis purposes before writing. This was altered (removed) to be able to rename all old files, keep changes, and write to new files. The new code is also meant to be universal.

In [16]:
def write_excel_file(all_sheets: dict[str, pd.DataFrame], output_file: str):
    with pd.ExcelWriter(output_file) as writer:
        for sheet_name, df in all_sheets.items():
            df.to_excel(writer, sheet_name=sheet_name, index=False)

In [17]:
def process_files(file_pairs: list[tuple[str, str]], delete_first_row: dict[str, bool], input_dir: str, output_dir: str):
    
    for input_name, output_name in file_pairs:
        input_file = f"{input_dir}/{input_name}"
        output_file = f"{output_dir}/{output_name}"

        all_sheets = pd.read_excel(input_file, sheet_name=None) # reads all sheets

        drop_row = delete_first_row.get(input_name, False) # drop_row checker

        renamed_sheets = rename_all_sheets(all_sheets, drop_first_row=drop_row) # renames all sheets

        write_excel_file(renamed_sheets, output_file) # writes new file

        print(f"Copied {input_name} / {output_file}")

The above code block processes a file with the changes applied from previous functions and writes/saves a new file.

In [18]:
process_files(
    edu_fod_file_pairs,
    edu_fod_delete_first_row,
    input_dir="data/education/original",
    output_dir="data/education/working"
)

Copied Tab1_FOD.xlsx / data/education/working/fod_demo_soc.xlsx
Copied Tab2_FOD.xlsx / data/education/working/fod_earn_sex.xlsx
Copied Tab3_FOD.xlsx / data/education/working/fod_earn_age.xlsx
Copied Tab4_FOD.xlsx / data/education/working/fod_earn_race.xlsx
Copied Tab5_FOD.xlsx / data/education/working/fod_earn_edu_att.xlsx
Copied Tab6_FOD.xlsx / data/education/working/fod_metro.xlsx
Copied Tab7_FOD.xlsx / data/education/working/fod_earn_metro.xlsx

In [19]:
copy_csv = False # flag variable used to keep from constant overwriting when using "Run All"

input_file_ccm = "data/child_care/original/Map by price and county_Full Data_data.csv"
output_file_ccm = "data/child_care/original/child_care_full_map.csv"

if copy_csv:
    df_childcare_map = pd.read_csv(input_file_ccm, dtype={"County Fips Code": str}) # have to convert to str for pandas to read FIPS that start with 0 correctly
    df_childcare_map["County Fips Code"] = df_childcare_map["County Fips Code"].str.zfill(5)
    df_childcare_map.to_csv(output_file_ccm, index=False)


df_childcare_map = pd.read_csv(output_file_ccm, dtype={"County Fips Code": str}) # have to specify dtype when reading, or will show incorrect FIPS starting with 0
print(df_childcare_map.head())
print(df_childcare_map.columns)
df_childcare_map.info()

  County Fips Code State Name     County Name  Flfpr 20To64  Fme 2022  \
0            01001    Alabama  Autauga County          68.4     30975
1            01003    Alabama  Baldwin County          71.1     30953
2            01005    Alabama  Barbour County          64.6     27128
3            01007    Alabama     Bibb County          67.5     24206
4            01009    Alabama   Blount County          64.8     29955

   Hispanic  Infant Center 2022  Infant Center 2024  Infant Center Faminc  \
0       3.2              7582.0         8408.438477              0.090488
1       4.8              6932.0         7687.587891              0.077062
2       4.8              6336.0         7026.624023              0.113809
3       2.9              7094.0         7867.246094              0.101250
4       9.7              7588.0         8415.091797              0.103199

   Infant Home 2022  ...  Select price  Select price (24)  Select share  \
0            7058.0  ...        7582.0        8408.438477          9.0%
1            6733.0  ...        6932.0        7687.587891          7.7%
2            5453.0  ...        6336.0        7026.624023         11.4%
3            5386.0  ...        7094.0        7867.246094         10.1%
4            7570.0  ...        7588.0        8415.091797         10.3%

   Toddler Center 2022  Toddler Center 2024  Toddler Center Faminc  \
0               7213.0          7999.216797               0.086084
1               6715.0          7446.935059               0.074650
2               6066.0          6727.193848               0.108960
3               6888.0          7638.791992               0.098310
4               7823.0          8675.707031               0.106395

   Toddler Home 2022  Toddler Home 2024  Toddler Home Faminc  Totalpop
0             6744.0        7479.096191             0.080487     58761
1             6733.0        7466.896973             0.074850    233420
2             5497.0        6096.172852             0.098739     24877
3             5386.0        5973.074219             0.076873     22251
4             7375.0        8178.875000             0.100302     59077

[5 rows x 39 columns]
Index(['County Fips Code', 'State Name', 'County Name', 'Flfpr 20To64',
       'Fme 2022', 'Hispanic', 'Infant Center 2022', 'Infant Center 2024',
       'Infant Center Faminc', 'Infant Home 2022', 'Infant Home 2024',
       'Infant Home Faminc', 'Mfi', 'Onerace A', 'Onerace B', 'Onerace W',
       'Pr F', 'Preschool Center 2022', 'Preschool Center 2024',
       'Preschool Center Faminc', 'Preschool Home 2022', 'Preschool Home 2024',
       'Preschool Home Faminc', 'Schoolage Center 2022',
       'Schoolage Center 2024', 'Schoolage Center Faminc',
       'Schoolage Home 2022', 'Schoolage Home 2024', 'Schoolage Home Faminc',
       'Select price', 'Select price (24)', 'Select share',
       'Toddler Center 2022', 'Toddler Center 2024', 'Toddler Center Faminc',
       'Toddler Home 2022', 'Toddler Home 2024', 'Toddler Home Faminc',
       'Totalpop'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3108 entries, 0 to 3107
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   County Fips Code         3108 non-null   object
 1   State Name               3108 non-null   object
 2   County Name              3108 non-null   object
 3   Flfpr 20To64             3108 non-null   float64
 4   Fme 2022                 3108 non-null   int64
 5   Hispanic                 3108 non-null   float64
 6   Infant Center 2022       2851 non-null   float64
 7   Infant Center 2024       2851 non-null   float64
 8   Infant Center Faminc     2851 non-null   float64
 9   Infant Home 2022         2752 non-null   float64
 10  Infant Home 2024         2752 non-null   float64
 11  Infant Home Faminc       2752 non-null   float64
 12  Mfi                      3108 non-null   int64
 13  Onerace A                3108 non-null   float64
 14  Onerace B                3108 non-null   float64
 15  Onerace W                3108 non-null   float64
 16  Pr F                     3108 non-null   float64
 17  Preschool Center 2022    2854 non-null   float64
 18  Preschool Center 2024    2854 non-null   float64
 19  Preschool Center Faminc  2854 non-null   float64
 20  Preschool Home 2022      2752 non-null   float64
 21  Preschool Home 2024      2752 non-null   float64
 22  Preschool Home Faminc    2752 non-null   float64
 23  Schoolage Center 2022    2852 non-null   float64
 24  Schoolage Center 2024    2852 non-null   float64
 25  Schoolage Center Faminc  2852 non-null   float64
 26  Schoolage Home 2022      2736 non-null   float64
 27  Schoolage Home 2024      2736 non-null   float64
 28  Schoolage Home Faminc    2736 non-null   float64
 29  Select price             2851 non-null   float64
 30  Select price (24)        2851 non-null   float64
 31  Select share             2851 non-null   object
 32  Toddler Center 2022      2854 non-null   float64
 33  Toddler Center 2024      2854 non-null   float64
 34  Toddler Center Faminc    2854 non-null   float64
 35  Toddler Home 2022        2752 non-null   float64
 36  Toddler Home 2024        2752 non-null   float64
 37  Toddler Home Faminc      2752 non-null   float64
 38  Totalpop                 3108 non-null   int64
dtypes: float64(32), int64(3), object(4)
memory usage: 947.1+ KB